{% extends "forms/field.html.twig" %}

{% block input %}
<div class="akso-field-magazine-list">
    <input
        type="text"
        class="akso-field-input"
        name="{{ field_name|e('html_attr') }}"
        value="{{ value|join(",")|e('html_attr') }}" />
    <div class="akso-field-noscript">
        Skribu 1,2,3 por montri la revuojn kun la identigilojn 1, 2 kaj 3 laŭ tiu ordo. Ne enmetu spacojn. Vi povas vidi tiujn internajn numerojn en la URL de la paĝo en AKSO-Admin.
    </div>
</div>
{% endblock %}
