@import '../prelude';

.vote-message, .vote-error {
    padding: 0.5em 1em;
    margin: 1em 0;
    border-radius: var(--radius);
}
.vote-message {
    background: rgb(var(--light-accent));
    color: rgb(var(--light-accent-fg));
}
.vote-error {
    background: rgb(var(--error-bg));
    color: rgb(var(--error-fg));
}

.account-votes-empty {
    text-align: center;
    margin: 1em 0;
}

.account-vote-list {
    list-style-type: none;
    padding: 0;
    text-align: left;

    .vote-item {
        padding: 0.5em 1em;
        margin: 1em;
        background: rgb(var(--bg));
        border-radius: var(--radius);
        box-shadow: @shade-both;

        .vote-title {
            font-size: 1.1em;

            .vote-org {
                font-size: smaller;
                text-transform: uppercase;
                opacity: 0.7;
                border: 1px solid rgb(var(--light-separator));
                border-radius: var(--radius);
                padding: 0 0.2em;
            }

            .vote-name {
                font-weight: bold;
            }
        }

        .vote-time {
            font-size: 0.9em;
            opacity: 0.8;
            border-bottom: 1px solid rgb(var(--light-separator));
        }

        .vote-description {
            :first-child {
                margin-top: 0;
            }
            :last-child {
                margin-bottom: 0;
            }
        }

        .vote-status {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            img {
                vertical-align: middle;
            }
        }
    }
}

.vote-detail {
    text-align: left;
    margin: 1em 0;
}

.vote-option {
    display: flex;

    .option-icon {
        margin-right: 1em;

        img {
            display: block;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            object-fit: contain;
        }
    }

    .option-contents {
        flex: 1;
    }

    .option-extra {
        float: right;
        font-size: smaller;
        opacity: 0.7;
    }

    .option-codeholder-details {
        font-size: smaller;
        margin-top: 0.5em;
    }
}

.vote-review {
    background: rgb(var(--bg));
    border-radius: var(--radius);
    margin: 1em 0;
    padding: 0.5em 1em;

    .review-title {
        font-weight: bold;

        img {
            vertical-align: middle;
        }
    }

    .review-timestamp {
        font-size: smaller;
        float: right;
        margin-left: 1em;

        @media (max-width: 480px) {
            float: none;
            margin-left: 0;
        }
    }

    .review-secret {
        margin-top: 0.5em;
        font-size: smaller;
    }
}

.vote-ballot {
    .vote-option {
        align-items: center;

        .option-icon {
            margin-right: 0.5em;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    &.rp-ballot > li {
        margin-bottom: 1em;
    }
}

.vote-form {
    margin-top: 4em;
    border: 1px solid rgb(var(--light-separator));
    border-radius: var(--radius);
    padding: 0.5em 1em;

    .form-submit {
        text-align: right;
    }
}
.vote-ballot-confirmation {
    .vote-confirm-buttons {
        text-align: right;

        .vote-inline-form {
            display: inline-block;
        }
    }
}

.rank-diagram {
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(var(--light-separator));
    margin: 1em 0;

    .rank-container {
        .inner-rank {
            background: rgb(var(--bg));
            border-radius: var(--radius);
            display: flex;
            border: 2px solid transparent;

            .rank-label {
                width: 2em;
                padding: 0.5em 1em;
            }
            .card-area {
                flex: 1;
                padding: 0.5em 1em;
                padding-left: 0;

                .rank-placeholder {
                    opacity: 0.6;
                    font-size: smaller;
                    border: 2px dashed rgb(var(--light-separator));
                    padding: 0.2em 0.4em;
                    border-radius: var(--radius);
                }
            }

            &.is-dragging-over {
                border: 2px dashed rgb(var(--accent));
            }
        }

        .space-between {
            position: relative;
            height: 1em;

            .space-drag-effect {
                position: absolute;
                background: rgb(var(--accent));
                width: 100%;
                height: 1px;
                top: 50%;
                left: 0;
                transition: transform 0.1s;
                opacity: 0;
                transform: translateY(-50%);
                pointer-events: none;
            }
            .space-add-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                background: rgb(var(--accent));
                width: 1.2em;
                height: 1.2em;
                border-radius: 1em;
                z-index: 2;
                color: rgb(var(--accent-fg));
                transform: translate(-50%, -50%) scale(0.00001);
                transition: transform 0.1s;
                pointer-events: none;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    background: currentColor;
                    width: 0.8em;
                    height: 2px;
                    border-radius: 1px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &::after {
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }

            &.is-dragging-over {
                .space-drag-effect {
                    height: 2px;
                }
                .space-add-icon {
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
    }

    &.is-dragging .space-between {
        .space-drag-effect {
            opacity: 1;
        }
    }

    .unranked-remainder {
        margin-top: 1em;

        .unranked-title {
            font-weight: bold;
            opacity: 0.7;
        }

        .unranked-items {
            background: rgb(var(--bg));
            border: 2px solid transparent;
            border-radius: var(--radius);
            padding: 0.5em 1em;
            min-height: 1.5em;
        }

        &.is-dragging-over {
            .unranked-items {
                border: 2px dashed rgb(var(--accent));
            }
        }
    }

    .option-card {
        display: inline-block;
        background: rgb(var(--bg2));
        border-radius: var(--radius);
        -webkit-user-select: none;
        user-select: none;
        margin: 0.2em;

        .card-name {
            padding: 0.2em 0.4em;
            cursor: move;
        }
    }
}

.ranked-options {
    list-style-type: none;
    padding: 0;

    .ranked-option {
        background: rgb(var(--bg));
        border-radius: var(--radius);
        padding: 0.5em 1em;
        margin: 0.5em 0;
        display: flex;
        align-items: flex-start;

        .option-contents {
            flex: 1;
            margin-right: 1em;

            .option-name {
                font-weight: bold;
            }
            .option-description {
                font-size: smaller;

                :first-child {
                    margin-top: 0;
                }
                :last-child {
                    margin-bottom: 0;
                }
            }
        }

        .rank-input {
            width: 8em;
            margin: 0;
        }

        @media (max-width: 420px) {
            display: block;

            .rank-input-container {
                text-align: right;
            }
        }
    }
}

.vote-results {
    background: rgb(var(--bg));
    border-radius: var(--radius);
    padding: 0.5em 1em;

    .option-icon {
        margin-right: 0.5em;

        img {
            width: 24px;
            height: 24px;
        }
    }

    .results-title {
        margin: 0;
    }

    .result-status {
        background: rgb(var(--bg1));
        padding: 0.2em 0.5em;
        display: inline-block;
        border-radius: var(--radius);
        margin: 0.5em 0;
        font-weight: bold;
    }

    .result-winners {
        margin-top: 0.5em;

        & > h3 {
            margin-bottom: 0.5em;
        }

        .winners-list {
            list-style: none;
            padding: 0;
            margin-top: 0.5em;

            .winner-item {
                background: rgb(var(--bg1));
                border-radius: var(--radius);
                padding: 0.2em 0.5em;
                margin: 0.5em 0;
                box-shadow: @shade-both;

                .option-name {
                    font-weight: bold;
                }
            }
        }
    }

    .result-mentions {
        background: rgb(var(--bg1));
        border-radius: var(--radius);
        padding: 0.2em 0.5em;
        box-shadow: @inset-both;

        summary {
            font-weight: bold;
        }

        summary + * {
            margin-top: 0.2em;
        }
    }

    .result-vote-type {
        margin: 1em 0;
    }

    .result-ynb-value {
        margin-top: 0.5em;
        overflow-x: auto;
        overflow-y: hidden;

        .inner-table {
            min-width: 100%;
        }
    }
    .result-ynb-value td:first-child {
        width: 8em;
    }

    .result-rp-value {
        h3 {
            margin-bottom: 0.3em;
        }

        .rp-interactive-insert {
            &.is-interactive {
                border-top: 1px solid rgb(var(--light-separator));
                border-bottom: 1px solid rgb(var(--light-separator));
                padding: 1em 0;
            }

            & > svg {
                width: 100%;
                height: 500px;
                max-height: calc(100vh - 2em);
                margin: 0 auto;
            }

            #arrow-head {
                fill: rgb(var(--fg));
            }

            .graph-node {
                & > rect {
                    fill: rgb(var(--bg1));
                    stroke: rgb(var(--fg));
                    stroke-width: 2px;
                }
                &.is-winner > rect {
                    fill: rgb(var(--light-accent));
                    stroke: rgb(var(--light-accent-fg));
                }
                &.is-winner .node-contents {
                    color: rgb(var(--light-accent-fg));
                }

                .node-contents {
                    font-size: 0.8em;
                    width: 100%;
                    height: 100%;
                    display: flex;

                    .graph-option {
                        flex: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5em;
                        padding: 0 0.5em;

                        .ch-img {
                            border-radius: 50%;
                            width: 1.5em;
                            height: 1.5em;
                        }

                        .ch-label, .option-label {
                            flex: 1;
                            width: 0;
                            display: block;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-align: center;
                        }
                    }
                }
            }

            .graph-edge {
                & > path {
                    stroke: rgb(var(--fg));
                    stroke-width: 2px;
                }
                .edge-label {
                    .edge-label-bg {
                        fill: rgb(var(--fg));
                    }
                    text {
                        fill: rgb(var(--bg));
                        text-anchor: middle;
                        dominant-baseline: central;
                        font-size: 0.8em;
                    }
                }
            }

            .round-switcher {
                display: flex;
                justify-content: space-between;
            }
        }

        .rp-round {
            padding: 1em 0;

            h4 {
                margin-top: 0;
                margin-bottom: 0.5em;
            }

            .rp-round-winner {
                margin-bottom: 0.5em;

                .vote-option {
                    display: inline-block;
                }
            }

            .rp-pair-item {
                display: inline-block;

                &.is-pair-winner {
                    text-decoration: underline;
                }
            }

            .rp-pair-cell-a, .rp-pair-cell-sym {
                border-right: none;
            }

            & + .rp-round {
                border-top: 1px solid rgb(var(--light-separator));
            }
        }
    }

    .result-stv-value {
        .stv-table-container {
            overflow: auto;
        }
        .stv-table {
            font-feature-settings: 'tnum' 1;

            th {
                white-space: nowrap;
            }

            .stv-event-type-row {
                font-size: smaller;
            }

            .event-elected-value {
                font-weight: bold;
                white-space: nowrap;

                &::after {
                    content: ' ✓';
                }
            }

            .event-eliminated-value {
                opacity: 0.5;
                text-decoration: line-through;

                &.eliminated-here {
                    opacity: 1;
                    font-weight: bold;
                }

                &.is-none {
                    text-decoration: none;
                }
            }

            .event-value:not(.did-change) {
                opacity: 0.5;
            }
        }
    }
}
