@import '../prelude';
@import '../common/codeholder-factoids';

.country-org-list {
    .inner-org-list {
        padding: 0;
        list-style-type: none;

        .inner-org-card {
            margin-top: 0.5em;
            background: var(--bg);
            border-radius: var(--radius);
            box-shadow: @shade-both;

            .org-header {
                padding: 0.5em 1em;
                padding-top: 1em;

                .org-name {
                    margin: 0;
                    font-size: 1.1em;
                }

                .org-local-name {
                    margin: 0;
                    margin-bottom: 0.5em;
                }
            }

            .org-details {
                & > summary {
                    padding: 0 1em;
                    padding-bottom: 0.5em;
                    cursor: default;

                    &:focus {
                        outline: none;
                        color: var(--accent);
                    }
                }

                .akso-codeholder-factoids {
                    border-top: 1px solid var(--light-separator);
                    border-bottom: 1px solid var(--light-separator);
                }

                .org-post-info {
                    padding: 0.5em 1em;

                    .org-biography {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}
