@import '../prelude';

.country-org-list {
    .inner-org-list {
        padding: 0;
        list-style-type: none;

        .inner-org-card {
            margin-top: 0.5em;
            background: var(--bg);
            border-radius: var(--radius);
            box-shadow: @shade-both;

            .org-header {
                padding: 0.5em 1em;
                padding-top: 1em;

                .org-name {
                    margin: 0;
                    font-size: 1.1em;
                }

                .org-local-name {
                    margin: 0;
                    margin-bottom: 0.5em;
                }
            }

            .org-details {
                & > summary {
                    padding: 0 1em;
                    padding-bottom: 0.5em;
                    cursor: default;

                    &:focus {
                        outline: none;
                        color: var(--accent);
                    }
                }

                .org-factoids {
                    width: 100%;
                    border: none;
                    border-top: 1px solid var(--light-separator);
                    border-bottom: 1px solid var(--light-separator);

                    th {
                        background: none;
                        padding: 0.2em 1em;
                    }

                    tr:nth-child(2n) th {
                        background: var(--bg1);
                    }

                    td {
                        padding-left: 1em;
                        border: none;
                        border-left: 1px solid var(--light-separator);
                    }

                    .akso-members-only-notice-inline {
                        display: inline-block;
                        border: 1px solid var(--light-separator);
                        border-radius: var(--radius);
                        padding: 0.1em 0.2em;
                        font-size: 0.9em;
                    }

                    @media (max-width: 320px) {
                        display: block;
                        border: none;

                        tbody, tr, th, td {
                            display: block;
                        }

                        tr {
                            margin: 0.2em;
                            border-radius: var(--radius);
                            overflow: hidden;
                            box-shadow: @shade-both;
                        }

                        tr th.factoid-label {
                            background: var(--bg2);
                            box-shadow: @shade-top;
                        }
                        td {
                            border-left: none;
                            background: none;
                        }
                    }

                    .factoid-text {
                        p:first-child {
                            margin-top: 0.2em;
                        }
                        p:last-child {
                            margin-bottom: 0.2em;
                        }
                    }
                }

                .org-post-info {
                    padding: 0.5em 1em;

                    .org-biography {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}
